<!-- <div>
    <md-card>
      <md-card-content>
        <div class="">
          <h2>Login</h2>
          <form name="form" ng-submit="vm.login()" role="form">
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" value="user" ng-model="vm.user.rol"> Usuario
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" value="admin" ng-model="vm.user.rol"> Administrador
                </label>
              </div>
              <div class="">
                <div class="alert alert-danger" role="alert"
                  ng-if="vm.error.show">
                    {{ vm.error.msj }}
                </div>
              </div>
              <md-card-actions layout="row" layout-align="end center">
                <button type="submit" class="btn btn-primary">Login</button>
              </md-card-actions>
          </form>
        </div>
      </md-card-content>
    </md-card>
</div> -->

<img id="backgroundimage" src="img/fondo.jpg">
<div class="login-wrap" style="background-image: url('img/moda.jpg');">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar Sesión</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarme</label>
    <div class="login-form">

      <!-- INICIAR SESIÓN -->
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Usuario</label>
          <input id="user" type="text" class="input" ng-model="vm.login_user">
        </div>
        <div class="group">
          <label for="pass" class="label">Contraseña</label>
          <input id="pass" type="password" class="input" data-type="password" ng-model="vm.pass_user">
        </div>
        <div class="group registrar">
          <input class="button" value="Aceptar" ng-click="vm.login()">
        </div>
      </div>

      <!-- REGISTRARSE -->
      <div class="sign-up-htm">
        <div class="group user">
          <label for="user" class="label">Usuario</label>
          <input id="user" type="text" class="input" ng-model="vm.new_user">
        </div>
        <div class="group pass">
          <label for="pass" class="label">Contraseña</label>
          <input id="pass" type="password" class="input" ng-model="vm.new_pass">
        </div>
        <div class="group correo">
          <label for="pass" class="label">Correo Electrónico</label>
          <input id="pass" type="text" class="input" ng-model="vm.user_email">
        </div>
        <div class="group age">
          <label for="age" class="label">Edad</label>
          <input id="age" type="text" class="input" data-type="age" ng-model="vm.age_user">
        </div>
        <div class="group gen">
          <label for="gen" class="label">Género</label>
          <select class="genero" id="gen2" ng-model="vm.genero_user">
            <option value="F">Femenino</option>
            <option value="M">Maculino</option>
          </select>
        </div>
        <div class="group registrar">
          <input type="submit" class="button" value="Aceptar" ng-click="vm.registry()">
        </div>
      </div>
    </div>
  </div>
</div>
