<!-- Header -->
<header id="header">
<div class="inner">
  <a href="index.html" class="logo">buyClothes</a>
  <nav id="nav">

    <!-- Carrito de Compra -->
    <div class="cart box_1">
      <a href="productos-seleccionados.html">
        <h3>
          <img src="img/cart.png" alt=""/>
          <div class="total">
            <span class="simpleCart_total"></span></div>
          </h3>
        </a>
        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
      </div>

      <!-- Botón Salir -->
      <a ng-click="ctrl.salir()">Salir</a>
    </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Tabla -->
<div class="checkout" style="background-image: url('img/wallpaper.jpg');">
  <div class="lista-productos">
    <div class="checkout-top">
      <div class="cart-items heading">
        <h1>Accesorios</h1>

        <div class="in-check">
          <ul class="unit">
            <li><span>Artículo</span></li>
            <li><span>Producto</span></li>
            <li><span>Precio</span></li>
            <li><span>Cantidad</span></li>
            <li><span>Escoger</span></li>
            <li></li>
            <div class="clearfix"></div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->
