<!-- Header -->
<header id="header">
<div class="inner">
  <a href="index.html" class="logo">buyClothes</a>
  <nav id="nav">

    <!-- Carrito de Compra -->
    <div class="cart box_1">
      <a href="productos-seleccionados.html">
        <h3>
          <img src="img/cart.png" alt=""/>
          <div class="total">
            <span class="simpleCart_total"></span></div>
          </h3>
        </a>
        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
      </div>

      <!-- Botón Salir -->
      <a ng-click="ctrl.salir()">Salir</a>
    </nav>
  </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
